@rendermode InteractiveServer
@inject NavigationManager NavigationManager
@inject IHttpContextAccessor HttpContextAccessor

<div class="bounding-box">
    <div class="mb-3 text-center">
        <span>Logged in as @_username</span>
    </div>
    <div class="mb-3 d-grid gap-2">
        <button class="btn btn-primary" @onclick="GoToLogout">Log out</button>
    </div>
</div>

@code {
    private string? _username;

    protected override void OnInitialized()
    {
        base.OnInitialized();
        var httpContext = HttpContextAccessor.HttpContext;
        _username = httpContext?.User.Identity?.Name;
    }

    private void GoToLogout()
    {
        NavigationManager.NavigateTo("/logout", true);
    }
}