@page "/logout"
@using Microsoft.AspNetCore.Authentication
@inject NavigationManager NavigationManager

<div class="bounding-box">
    <div class="mb-3 text-center">
        <span>Logging out</span>
    </div>
</div>

@code {
    [CascadingParameter]
    public HttpContext HttpContext { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        if (HttpContext.User.Identity.IsAuthenticated)
        {
            await HttpContext.SignOutAsync();
        }
        HttpContext.Response.Cookies.Delete("BestScore");
        NavigationManager.NavigateTo("/", true);
    }
}
