@page "/"
@using BlazorGame.Components.Controls
@using BlazorGame.Components.Game
@using BlazorGame.Components.UserAuth.Login
@using BlazorGame.Components.Leaderboard
@using Microsoft.AspNetCore.Components.Authorization
@using BlazorGame.Components.UserAuth.Logout

<PageTitle>Blazor Snake</PageTitle>

<div class="page">
    <Controls />
    <Game />
    <div class="side-bar">
        <div class="h-auto w-100">
            <AuthorizeView>
                <NotAuthorized>
                    <Login/>
                    <div class="mb-3 text-center">
                        <span>Don't have an account? <a href="/register">Register</a></span>
                    </div>
                </NotAuthorized>
                <Authorized>
                    <Logout/>
                </Authorized>
            </AuthorizeView>
        </div>
        <div class="h-75 w-100">
            <Leaderboard/>
        </div>
    </div>
</div>