@page "/"
@using BlazorGame.Components.Controls
@using BlazorGame.Components.Game
@using BlazorGame.Components.UserLogin
@using BlazorGame.Components.Leaderboard

<PageTitle>Blazor Snake</PageTitle>

<div class="page">
    <Controls></Controls>
    <Game></Game>
    <div class="side-bar">
        <UserLogin></UserLogin>
        <Leaderboard></Leaderboard>
    </div>
</div>