div.bounding-box {
    width: 72vmin;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

div.score-bar {
    display: flex;
    height: 10%;
    width: 72vmin;
    justify-content: space-between;
    align-items: center;
}

span.score {
}

span.best-score {
}

div.snake-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 72vmin;
    width: 72vmin;
    aspect-ratio: 1 / 1;
    border: 1px solid black;
}

div.row {
    height: auto;
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
}

div.cell {
    flex: 1 1 0;
    aspect-ratio: 1 / 1;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

div.snake-body {
    background-color: green;
}

div.snake-head {
    background-color: darkgreen;
}

div.food {
    background-color: red;
}

div.overlay-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 36vmin;
    height: 10vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    border: 1px solid black;
    user-select: none;
    cursor: pointer;
    background-color: gray;
}