<div class="bounding-box">
    <div class="score-bar">
        <span class="score">Score: </span>
        <span class="best-score">Best score: </span>
    </div>
    <div class="snake-container">
        <span>Game</span>
    </div>

</div>

@code {

}