div.bounding-box {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

h3.leaderboard-title {
    text-align: center;
}

table.leaderboard {
    width: 100%;
}

tr.header-row {

}

th.header-cell {
    text-align: center;
}

tr.leaderboard-row {

}

td.leaderboard-cell {
    text-align: center;
}