div.bounding-box {
    width: 100%;
    height: 100%;
}

h3.leaderboard-title {
    text-align: center;
}

table.leaderboard {
    width: 100%;
    height: 100%;
}

tr.header-row {

}

th.header-cell {

}

tr.leaderboard-row {

}

th.leaderboard-cell {

}